<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2층 사물함</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="floor-buttons">
        <button id="btn-1F" class="floor-button" onclick="location.href='floor1.html'">1F</button>
        <button id="btn-2F" class="floor-button active" onclick="location.href='floor2.html'">2F</button>
    </div>
    <div id="lockers-2F" class="lockers active">
        <table>
            <tr>
                <td><button class="locker">1</button></td>
                <td><button class="locker">2</button></td>
                <td><button class="locker">3</button></td>
            </tr>
            <tr>
                <td><button class="locker">4</button></td>
                <td><button class="locker">5</button></td>
                <td><button class="locker">6</button></td>
            </tr>
            <tr>
                <td><button class="locker">7</button></td>
                <td><button class="locker">8</button></td>
                <td><button class="locker">9</button></td>
            </tr>
            <tr>
                <td><button class="locker">10</button></td>
                <td><button class="locker">11</button></td>
                <td><button class="locker">12</button></td>
            </tr>
        </table>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
