<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locker Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="floor-buttons">
        <button id="btn-1F" class="floor-button active" onclick="showFloor('1F')">1F</button>
        <button id="btn-2F" class="floor-button" onclick="showFloor('2F')">2F</button>
    </div>
    <div id="lockers-container"></div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>


